@font-face {
    font-family: "nixgonFonts";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nixgonFonts";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nixgonFonts";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nixgonFonts/nixgonFonts-Bold.ttf") format("truetype");
    font-display: swap;
}
.nixgonFonts {
    font-family: "nixgonFonts";
}
.nixgonFonts300 {
    font-family: "nixgonFonts";
    font-weight: 300;
}
.nixgonFonts500 {
    font-family: "nixgonFonts";
    font-weight: 500;
}
.nixgonFonts700 {
    font-family: "nixgonFonts";
    font-weight: 700;
}